[submodule "themes/custom/multipurpose"]
	path = themes/custom/multipurpose
	url = https://github.com/CBIIT/drupal-multipurpose-theme.git
[submodule "themes/multipurpose"]
	path = themes/multipurpose
	url = https://github.com/CBIIT/drupal-multipurpose-theme.git
